%h1 Connect
.left_pane
  %ul.side-navigation
    %li
      %a{href: about_us_url} About Us
    %li 
      %a{href: welcome_pastor_url} Welcome from the Pastor
    %li
      %a{href: about_us_url} Vision & Values
    %li
      %a{href: about_us_url} Our Beliefs
.middle_pane
  .banner
    = image_tag "puzzlehands.jpg", :class => "main_image"
