-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
      = link_to 'GSCC', home_url, class: 'navbar-brand'
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        /= render 'layouts/navigation_links'
        %li
          =link_to 'About Us', about_us_url
        %li
          =link_to 'Connect', connect_url
        %li
          =link_to 'Events', events_url
        %li.dropdown
          %a.dropdown-toggle{href: resources_url, "data_toggle" => 'dropdown'}
            Resources
            %b.caret
          %ul.dropdown-menu
            %li
              %a{href: '#'}
                Pastor's Blog
            %li
              %a{href: '#'}
                Sermons
            %li
              %a{href: '#'}
                Books
        / %form{:class => "navbar-form navbar-left", :role => "search"}
        /   .form-group
        /     %input{:type => "text", :class => "form-control", :placeholder => "Search"}
        /     %button{:type => "Search", :class => "btn btn-default"} Submit
        %li
          =link_to 'Login', root_path


